.gradeContainer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 1rem;
	
}

.updateGradeForm {
	margin: 3rem;
}

.gradeForm {
	display: flex;
	flex-direction: column;
	gap: 2px;
	background-color: white;
	padding: 3em;
	width: 80%;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
	height: 60vh;
}

.updateGradeHeading {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
}

.updateGradeInput {
	outline: none;
	transition: 0.4s ease-in-out;
}

.updateGradeInput:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.updateGradeBtn .updateGradeInput:focus {
	background: #ffffff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.viewcoursebtn,
.updateGradeBtn {
	align-self: center;
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 10px;
	border: none;
	color: whitesmoke;
	outline: none;
	transition: 0.4s ease-in-out;
}

.updateGradeBtn {
	margin-top: 1rem;
	width: 100%;
}


.updateGradeBtn:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.updateGradeBtn:active {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.viewCourseLabel,
.updateGradeLabel {
	color: #565b66;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0 0.5rem;
}


.viewCourse{
    margin: 1rem;
    font-size: 0.8rem;
	margin-right: auto;
	overflow-y:auto;
	background-color: white;
	/* border-radius: 10px; */
	height: 70vh;
	width: 65vw;
	padding: 0.5em;
}

.viewCourseTable{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border-spacing: 30px;
}

table, th, td {
    border: 1px dashed grey;
    border-collapse: collapse;
    padding: 1rem;
  }


.viewCourseHeading{
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin: 1rem;
}

.viewCourseInput {
	outline: none;
	transition: 0.4s ease-in-out;
}

.viewCourseInput:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.viewCourseBtn .viewCourseInput:focus {
	background: #ffffff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.viewCourseBtn:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.viewCourseBtn:active {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.chooseCourse{
	margin: 2rem 0rem;
}

.viewCourseBtn {
	margin-top: 1rem;
	margin-left: 1.5rem;
	width: 10%;
}

.viewCourseLabel{
	margin-left: 1rem;
}

.updatedMessage {
    color: green;
    font-weight: bold;
	font-size: 1rem;
	margin: 2rem;
}
