.gradecontainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 2rem;
	gap: 5rem;
}

.updategradeform {
	margin: 4rem;
}

.gradeform {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: white;
	padding: 3em;
	width: 80%;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
}

.heading {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 0;
}

.input {
	outline: none;
	transition: 0.4s ease-in-out;
}

.input:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.btn .input:focus {
	background: #ffffff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.form, .btn {
	align-self: center;
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 10px;
	border: none;
	color: whitesmoke;
	outline: none;
	transition: 0.4s ease-in-out;
}

.btn {
	margin-top: 1rem;
	width: 100%;
}

.btn:hover {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.btn:active {
	box-shadow: 6px 6px 0px #c2c2c2, -3px -3px 10px #ffffff;
}

.label {
	color: #565b66;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0 0.5rem;
}


.viewcourse{
    margin: 2rem;
    font-size: 0.8rem;
	margin-right: auto;
	overflow-y:auto;
	background-color: white;
	/* border-radius: 10px; */
}
.viewcoursetable{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border-spacing: 30px;
}

table, th, td {
    border: 1px dashed grey;
    border-collapse: collapse;
    padding: 1rem;
  }